.text-container li a {
    justify-content: center;
}
.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: -52px;
    /* text-align: left; */
    right: 80px;
    text-align: center;
}
.pt {
    float: right;
}
.image_2 {
    height: 500px !important;
}
.col-lg-4 {
    height: 300px !important;
}
.columns .portfolio-item {
    width: 33% !important;
}
